/*  
we are using taiwindcss and importing it into index.css file
so no need for taiwindcss.config.js file
*/

@import "tailwindcss";

/* for smooth scrolling experience */
html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
}


body {
  font-family: 'Roboto', sans-serif;
}

/* font style classes */
.font-hero {
  font-family: 'Bungee Shade', cursive;
}

.font-body {
  font-family: 'Roboto', sans-serif;
}

.font-retro {
  font-family: 'VT323', monospace;
}

.font-pixel {
  font-family: 'Press Start 2P', cursive;
}

.font-handwritten {
  font-family: 'Caveat', cursive;
}

.font-kpi {
  font-family: 'Bitcount Grid Single', monospace;
}